@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);



*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Circular Spotify Tx T Black";
}

body{
    overflow: hidden;
}

nav a span:hover{
    color: white;
}

/* SCREEN 381px */

/* --------NAVIGATION BAR'S-------- */
.container-flex{
    display: flex;
    flex-wrap:nowrap;
}

.container-flex.col{
    flex-direction: column;
    align-items: center;
}

.container-flex.row{
    flex-direction: row;
}

.container-flex.col.sidebar{
    position: relative;
    z-index: 1;
    width: 48px;
    height: 100vh;
  
    background-color: rgb(0, 0, 0);   
    
}

.container-flex.row.topbar{
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0 ;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.95);   
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.brand-logo i{
    color: white;
    font-size: 27px;
    
}

.brand-logo img{
    display: none;
    padding-left: 30px;
}


nav a{
    text-decoration: none;
    padding: 5px 2px;
}

nav a span:hover{
    color: white;
}


a img{
    height: 22px;
}

a span.label{
    color: rgb(118, 120, 125);
    display: none;
}

a span.label.active{
    color: white;
}

.playlist{
    color: white;
    padding-left: 35px;
    display: none;
}

.playlist .create i{
    font-size: 40px;
    padding-right: 10px;
}

.playlist .create a{
   
    display: flex;
    align-items: center;
    color: rgb(118, 120, 125);
}

.playlist .create a:hover{
    
    color: white;
}


.playlist .create ul li{
    list-style: none;
    
}

.playlist .create ul li a{
    font-size: 12px;
}


a.bottom img{
    height: 14px;
}

a.bottom + hr{
    display: none;
}

a.bottom-profile img{
    border-radius: 50%;
}

.container-flex.col.bottom.btns{
    justify-content: flex-end;
}

a.bottom-profile{
    margin-bottom: 80px;
}

button.upgrade{
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
    font-size: 12px;
}


.bg-blue{
    background-color: rgb(20, 25, 34);
    overflow-y: auto;   
    width: 100%;
    margin-top: 70px;
    height: calc(100vh - 160px);
    
}

.nav-sections{
    width: 100%;
    max-width: 356px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}

.main-nav .nav-sections a{
    text-decoration: none;
    padding: 0 5px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main-nav .nav-sections a p{
    color:rgb(118, 120, 125);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px; 
}

.main-nav .nav-sections a p:hover{
    color: white;
}

.nav-sections a.auto{
    margin-right: 5px;
}

.nav-sections a.auto-2{
    margin-left: 5px;
}

hr.active{
    border-bottom: 3px solid green;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
}

.container-flex.row.center{
    justify-content: center;
}

.txt-recently h1{
    font-size: 25px;
}



.album-content{
    width: 100%;
    max-width: 356px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.album-content.artisti .album-card img{
    border-radius: 50%;
}

.album-content p{
    text-align: center;
    color: white;
    padding-top: 10px;
}

.album-card{
    margin-bottom: 10px;
    position: relative;
    margin: 0 auto;
}

.album-card:hover{
    cursor: pointer;
}

.album-card:hover:after {
    content: '\f04b';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album-card img{
    width: 150px;
    height: 150px;
}



.container-flex.row.bottombar{
    width: 100vw;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0 ;
    height: 90px;
    background-color: #1b1b1b; 
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.album , .volume{
    width: 25%;
}

.controller{
    width: 50%;
    margin: 0 5px;
}

.album{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;    
}

.album img{
    height: 25px;
}

span.album-description{
    color: white;
    margin-left: 5px;
}

span.album-description p{
    font-size: 10px;
    font-weight: bolder;
}

.heart-file-icon a{
    text-decoration: none;
}

.heart-file-icon a i{
    display: flex;
    margin-left: 10px;
    font-size: 15px;
    color: grey;
}

.player-controller{
    display: flex;
    justify-content: center;
    align-items: center;

}

.player-controller i{
    color: white;
    width: 100%;
    font-size:14px;
    padding: 0 7px;

}

.play-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-bar p{
    color: white; 
    font-size: 11px;
}

.play-bar input, .volume input{
 
  width: 50%;
  height: 3px;
  background: #a3a3a3;
  border-radius: 10px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0 10px;
}

.volume input{
    max-width: 100px;
    margin: 0 2px;
}

.play-bar input::-webkit-slider-thumb, .volume input::-webkit-slider-thumb{
    opacity: 0;
}

input#myRange.slider:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0;
}





.play-bar input:hover::-webkit-slider-thumb, .volume input:hover::-webkit-slider-thumb {
    opacity: 1;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e0e0e0;
    cursor: pointer;
  }

.volume{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.volume a i{
    color: white;
    font-size: 9px;
    padding: 0 3px;
}


/* --------NAVIGATION BAR'S-------- */


/* --------MEDIA QUERY-------- */

@media all and (min-width: 768px){
    .container-flex.col.sidebar{
        width: 250px;   
    }

    .container-flex.col.media{
        align-items: flex-start;
    }

    .brand-logo i{
        display: none;
    }

    .brand-logo img{
        display: block;
    }

    a img{
        margin-left: 20px;
        height: 28px;
    }
    .playlist{
        padding-top: 10px;
        display: block;
    }

    .container-flex.col.bottom.btns{
        justify-content: flex-end;
        align-items: flex-start;
    }

    a.bottom + hr{
        display: block;
        width: 85%;
        margin: 0 auto;
        border: 1px solid rgba(118, 120, 125, 0.459);
        border-radius: 10px;
    }
    a.bottom-profile img{
        border-radius: 50%;
    }

    a.bottom{
        display: flex;
        flex-wrap: nowrap;
    }
    .container-flex.col.media.sidebar > a, a.bottom, a.bottom-profile{
        display: flex;
        align-items: center;
        padding: 5px 15px;
    }

    a span.label{
        display: block;
        margin-left: 10px;
       
    }

    .nav-sections{
        width: 85%;
        max-width: 521px;
    }

    .main-nav .nav-sections a{
        padding: 0 20px;
    }

    .main-nav .nav-sections a p{
        font-size: 14px; 
    }

    .recently-played{
        margin: 0 auto;
    }

    .album-content{
        max-width: 521px;
       
    }

    .album-card img{
        width: 200px;
        height: 200px;
    }

    .album img{
        height: 40px;
    }

    span.album-description p{
        font-size: 14px;
    }

    .heart-file-icon a i{
        padding-left: 10px;
        font-size: 16px;
    }

    .player-controller a i{
        padding: 0 20px;
        font-size: 18px;
    }

    .volume a i{
        font-size: 14px;
        padding: 0 5px;
    }

}

@media all and (min-width: 992px){
    .nav-sections{
        max-width: 565px;
    }

    .album-content{
        align-self: center;
        max-width: 721px;
    }

    .album-card{
        margin: 0 15px;
    }

    .album-card img{
        width: 150px;
        height: 150px;
    }

 
}

@media all and (min-width: 1163px){
    .nav-sections{
        max-width: 800px;
    }

    .album-content{
        align-self: center;
        max-width: 1999px;
    }


    .album-card{
        margin: 0 15px;
    }

    .album-card img{
        width: 150px;
        height: 150px;
    }

 
}

/* --------UTILITY-------- */
.margin-top{
    margin-top: .5em;
}

.margin-top-1{
    margin-top: 1em;
}

.margin-top-2{
    margin-top: 2em;
}

.margin-bottom-1{
    margin-bottom: 1em;
}

.margin-right{
    margin-right: .5em;
}

.margin-left{
    margin-left: .5em;
}

.txt-upper{
    text-transform: uppercase;
}

.txt-bold{
    font-weight: bold;
}


/* --------UTILITY-------- */

/* --------SCROLLBAR-------- */

/* width */
::-webkit-scrollbar {
    width: 7px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(124, 124, 124, 0.829); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }